{% extends 'author/layout.twig' %}

{% block body %}
    <form action="" method="GET">
        <input type="text" class="form-control" name="filename" placeholder="Activity File Path" />

        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}
