.activity-wrapper {

}
.activity-wrapper textarea {
    min-height: 250px;
}

.activity-wrapper iframe {
    border: 1px solid #ccc;
    height: 250px;
}
.activity-wrapper .nav-tabs {
    margin-bottom: 10px;
}